@inherits LayoutComponentBase

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <NavMenu/>
    </nav>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
