<div class="container">
	<div class="section-before-label">beforeLabel</div>
	<div class="section-current-label">CurrentLabel</div>
	<div class="section-after-label">AfterLabel</div>
	<InputTextArea class="textbox"></InputTextArea>
	<div class="time-label">00:00</div>
	<button class="bottom-1-button">S</button>
	<button class="bottom-3-button">M</button>
</div>

